legacy/**
coverage/**
dist/**
.next/**
examples/**
node_modules/**
# Prettier ignore
legacy/**
legacy/app-archive/**
docs/ARCHIVE/**
components/UI/stepper.tsx
components/UI/switch.tsx
components/UI/table.tsx
components/UI/Tabs.tsx
components/UI/tooltip.tsx
components/UI/StatusBento.tsx
