node_modules
.next
.git
.gitignore
coverage
playwright-report
.vscode
.DS_Store
*.log
.env
.env.*
**/*.test.*
**/__tests__
**/*.map
*.local
/data
**/keypair*.json 
dist
legacy/**
examples/node_modules
md/**